name: integration-tests
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['**']
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  setup:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write # to publish unit test results via checks github api
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: .github/
      - uses: RageAgainstThePixel/job-builder@development
        id: setup-jobs
        with:
          build-options: ./.github/workflows/build-options.json
          group-by: unity-version
    outputs:
      jobs: ${{ steps.setup-jobs.outputs.jobs }}
  validate:
    if: ${{ needs.setup.outputs.jobs }}
    needs: setup
    name: build ${{ matrix.jobs.name }}
    permissions:
      contents: read
      checks: write # required by nested unity-build workflow
    strategy:
      matrix: ${{ fromJSON(needs.setup.outputs.jobs) }}
      fail-fast: false
      max-parallel: 1
    secrets: inherit
    uses: ./.github/workflows/unity-build.yml
    with:
      matrix: ${{ toJSON(matrix.jobs.matrix) }}
  timeline:
    needs: [setup, validate]
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: Kesin11/actions-timeline@c2f474758e8e9ac6f37ec64a6442dead7fd1dad2 # v2.2.5
        continue-on-error: true
